@font-face {
	font-family: "sans";
	src: url(/assets/css/sans.ttf);
	font-display: swap;
}

html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	font-weight: 300;
	font-family: "sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoHolder a {
	display: flex;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	color: #fff;
	width: max-content;
	width: -moz-max-content;
	font-size: 2.8rem;
}

.logoHolder img {
	height: 5rem;
    width: 5rem;
}

.firstThing {
	background: url(/assets/images/firstblob.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.getAPI {
	height: 70px;
    border: 0;
    border-radius: 5px;
    padding: 8px 31px;
    font-weight: 600;
    box-shadow: 0 0 20px 3px #44444444;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
}

.getAPI:hover {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transition: all 0.2s linear;
}

.titleContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.titleContent span {
	color: #fff;
	font-size: 3rem;
	text-align: center;
	max-width: 550px;
    text-shadow: 3px 3px 0px #4d5eb3;
}

.getAPIDIV {
	padding: 30px 20px 20px;
}

.fireIsPrivate {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fireIsPrivate .curveContainer {
	background: url(/assets/images/otherCompanies.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.fireIsPrivate span {
	color: #fff;
    font-size: 2rem;
    text-align: center;
    max-width: 550px;
    text-shadow: 2px 2px 0px #4285f41f;
}

.fireIsPrivate .fireDoesNot {
	padding-top: 1.25rem;
	font-size: 3rem;
}

.dividerHillOne {
	background: url(/assets/images/dividerhill.svg) no-repeat center center;
	height: 100px;
	width: 100%;
	background-size: cover;
}

.easyForDevelopers {
	background-color: #9c88ff;
}

.easySectionContainer {
	max-width: 900px;
	margin: 0 auto;
	color: #fff;
}

.easySectionContainer .easyTitle {
	padding: 34px;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    display: flex;
	text-align: center;
}

.easySectionContainer .pointsHolder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 30px;
}

@media (max-width: 768px) {
	.easySectionContainer .pointsHolder {
		justify-content: space-between;
	}
}

@media (max-width: 30em) {
	.easySectionContainer .pointsHolder {
		justify-content: center;
	}
}

.easySectionContainer .infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	max-width: 300px;
}

.easySectionContainer .infoContainer .infoTitle{
	font-size: 2rem;
	font-weight: 400;
	padding-bottom: 1rem;
}

.easySectionContainer .pointsHolder .imageContainer img{
	height: 200px;
}

.secondDivision {
	background: url(/assets/images/secondDivision.svg) no-repeat center center;
	height: 240px;
	width: 100%;
	background-size: cover;
}

.faqs {
	background-color: #171a1c;
	color: #e3e6e8;
}

.faqContainer {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.faqHeading {
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: 500;
	margin-bottom: 2.4225rem;
	padding: 10px;
}

.faqsHolder {
	display: flex;
	gap: 1.14rem;
	justify-content: space-evenly;
}

.faq {
	background-color: #1E2224;
	padding: 38.76px;
	width: 280px;
	display: flex;
	flex-direction: column;
	background-origin: padding-box;
	border-radius: 16px;
	font-size: 1.0625rem;
}

.faq .faqTitle span {
	line-height: 25px;
	text-align: left;
}

.faq .faqContent {
	margin-block-start: 17px;
	line-height: 25px;
}

@media (max-width: 69.3125em) {
	.faqsHolder {
		display: flex;
		flex-direction: column;
	}

	.faqsHolder .faq {
		width: 75%;
		margin: 0 auto;
		margin-bottom: 1rem;
	}
}